## Воркшоп #3: Робота з Pandas, обʼєднання і агрегація даних

Цей воркшоп виконує...

Тимур Максимович

Почнемо! 
Перш за все, зчитайте 4 набори даних: `courses.csv`, `enrollment.csv`, `instructors.csv` та `students_v2.csv` та запишіть їх у змінні `courses`, `enrollment`, `instructors`, `students` відповідно. Обовʼязково перевірте, що дані відповідають очікуванням.

In [1]:
import pandas as pd

In [29]:
courses = pd.read_csv("courses.csv", delimiter= ",")
enrollment = pd.read_csv("enrollment.csv", delimiter=",")
instructors = pd.read_csv("instructors.csv", delimiter=",")
students = pd.read_csv("students_v2.csv", delimiter=",")

In [44]:
print(students.columns)

Index(['Student_ID', 'Name', 'Age', 'Faculty', 'Major', 'GPA', 'Start_Date',
       'First_semester'],
      dtype='object')

In [45]:
print(courses.columns)

Index(['Course_ID', 'Course_Name', 'Faculty', 'Credits', 'Instructor'], dtype='object')

In [46]:
print(enrollment.columns)

Index(['Enrollment_ID', 'Student_ID', 'Course_ID', 'First_semester', 'Grade'], dtype='object')

Тепер, коли ми маємо усі дані на руках, давайте спробуємо їх обʼєднати. Використайте `pd.merge`, щоб обʼєднати студентів з тими курсами, які вони брали.

Обовʼязково зверніть увагу на ключі, за якими ви обʼєднуєте дані! "Природнє" зʼєднання тут не прокатить, здогадаєтесь, чому?

In [ ]:
df = pd.merge(courses, enrollment, on="Course_ID", how="inner") 
df = pd.merge(df, students, on=

In [41]:
df

,Student_ID,Name_x,Age,Faculty_x,Major,GPA,Start_Date,First_semester_x,Enrollment_ID,Course_ID,First_semester_y,Grade,Course_Name,Faculty_y,Credits,Instructor,Instructor_ID,Name_y,Faculty,Email
0,UEPE0,Kelly Greene,19,Law,Environmental,2.91,2020-01-20,Spring 2020,1KEUI,1EKBM,Fall 2021,F,World History,Arts,4,Angela Thompson,SHHID,Angela Thompson,Arts,angela.thompson@univer.sity
1,C15ED,Joseph George,20,Medicine,General,2.79,2023-07-04,Summer 2023,BYB6X,1GBT1,Fall 2020,A,Constitutional Law,Law,5,Jeffrey Collins,I3AH7,Jeffrey Collins,Law,jeffrey.collins@univer.sity
2,C15ED,Joseph George,20,Medicine,General,2.79,2023-07-04,Summer 2023,9ZSI3,ZTEEQ,Fall 2021,C,Anatomy,Medicine,4,Lisa Scott,HOFLI,Lisa Scott,Medicine,lisa.scott@univer.sity
3,C15ED,Joseph George,20,Medicine,General,2.79,2023-07-04,Summer 2023,L5Q5V,HNU9L,Spring 2023,F,Quantum Physics,Science,5,Henry Graves,2K4JD,Henry Graves,Science,henry.graves@univer.sity
4,QVQDT,Cynthia Hancock,23,Business,Finance,2.24,2019-07-30,Summer 2019,0JI0A,JLM1K,Spring 2023,A,Statics,Engineering,4,Mary Scott,6C4MF,Mary Scott,Engineering,mary.scott@univer.sity
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,N29EW,Paul Morgan,18,Law,Corporate,3.24,2023-08-04,Summer 2023,E0EBH,M6F0D,Spring 2023,B,Pharmacology,Medicine,5,Dana Lopez,8M3RA,Dana Lopez,Medicine,dana.lopez@univer.sity
196,9O3RS,Michael Bryant,22,Arts,Philosophy,2.33,2020-06-03,Summer 2020,AF8IX,E5TPT,Fall 2021,B,Property Law,Law,3,Megan Ruiz,82EU8,Megan Ruiz,Law,megan.ruiz@univer.sity
197,9O3RS,Michael Bryant,22,Arts,Philosophy,2.33,2020-06-03,Summer 2020,H17KY,TC1IL,Fall 2021,F,Neuroscience,Medicine,4,Andrew Gaines,1R89R,Andrew Gaines,Medicine,andrew.gaines@univer.sity
198,E6STQ,Patrick Johnson,18,Business,Finance,2.97,2024-05-09,Spring 2024,51X9B,ZTEEQ,Fall 2021,A,Anatomy,Medicine,4,Lisa Scott,HOFLI,Lisa Scott,Medicine,lisa.scott@univer.sity
199,E6STQ,Patrick Johnson,18,Business,Finance,2.97,2024-05-09,Spring 2024,VJNG4,0BF6M,Fall 2021,D,Pharmacology,Medicine,3,Karen Hodge,YCJMK,Karen Hodge,Medicine,karen.hodge@univer.sity

Якщо ви все зробили правильно, у вас мало вийти 200 записів. Давайте сконцетруємось на записах студента на імʼя `Gregory Martin` (або будь-якого іншого/іншої, який/яка вам до вподоби) та подивимось, які саме курси він взяв. Для цього вам знадобляться вже три датасети.

І, ніби нам цього було мало, дізнаємось імейли інструкторів, які ведуть курси, на які Грегорі був записаний:

### Кінець підготовчої частини

--------------

### Початок спільної частини 

Чудово! 

До цього ми працювали з конкретним студентом, але тепер давайте подивимось на "big picture" і спробуємо проаналізувати дещо. 

Отож, наше наступне завдання: знайдіть кількість невідповідностей у таблицях students і enrollments. Під "невідповідністю" маємо на увазі наявність запису в одному датасеті, але відсутність в іншому. Тут є кілька способів це зробити, спробуйте хоча б два достатньо різних. 

І ось вам підказки, що можна використати в одному з способів:
- параметри `how` та `indicator` у `pd.merge`
- методи `value_counts()` та `query` у датафрейму 


Альтернативий спосіб натомість спробуйте зробити максимально прямолійнійним, так, якби ви не знали про наявлість `indicator`, `value_counts()`, `query` тощо

In [ ]:
# Спосіб №1

In [ ]:
# Спосіб №2

Щоб закінчити епопею з функцією `merge`, давайте спробуємо порахувати кількість різних **пар** колег з одного факультету. При цьому врахуйте, що "я сам собі не колега", а також кожну пару потрібно рахувати рівно один раз.

Має вийти 185, але важливо не "скільки", а "як" :)

Тепер давайте спробуємо працювати з групуванням і агрегацією. Перш за все, давайте розглянемо групи по окремості.

Для цього вам знадобиться метод `groupby`. Згрупуємо інструкторів за факультетом і виведемо кількість інструкторів для кожного з факультетів, використовуючи цикл: 

```python

for faculty, members in ???
    print(faculty, len(members))

```
(замість ??? потрібно написати правильний вираз)

Ви також можете вивести список інструкторів замість їх кількості, якщо хочете :)

Тепер давайте спробуємо погрупувати студентів за факультетом і порахувати середню оцінку та середній вік по кожному з факультетів. Для цього в результата groupby треба виділити конкретний набір колонок - у нашому випадку `Age` та `GPA`. Звісно, що для підрахунку середнього вам підійде функція `mean()`

Якщо ви все зробили правильно, у вас мав вийти якийсь датасет. Спробуйте подивитися, які у цього датасета колонки та який індекс.

Хм, середні значення то звісно добре, але іноді цікавить дещо інше. Спробуйте залишити середнє значення `GPA`, а для `Age` додати також обрахунок мінімального і максимального значення.

Тепер спробуйте згрупувати не по одній колонці, а по кількох - наприклад, `Faculty` та `Age`. Так само перевірте назви колонок та індекс і подивіться, як це повʼязано з аргументом `groupby`.

Щож, сподіваюсь, ± зрозуміло, чому це працює саме так.

Рухаємось далі. Тут вже треба і `merge`, і `groupby`. Для кожного студента з GPA більшим за 3.3 знайдіть кількість курсів, на які студент заенролився і завалив (тобто здав на `D`). Результат посортуйте по кількості таких курсів. Подивимось, скільки відмінників не такі вже й відмінники 😈

Тут у вас, здається, має вийти 10.

Зверніть увагу, що студентів-відмінників має бути 29, а от завалені курси є лише у частини з них. Якщо у вас результат складається з менш ніж 29 записів, подумайте, як то виправити, щоб були присутні і студенти без "D-шок".

Хм, а як загалом картина на факультетах? 
Спробуйте наступне:
- для кожного факультету порахуйте частку оцінок `F`
- для факультетів з більш ніж 20% F-ок виведіть:
  - кількість виставлених оцінок загалом
  - кількість F-ок
  - частку F-ок
  - кількість студентів, які проходили курси
  - кількість студентів, які отримали F-ки

Обовʼязково переконайтесь, що ви не рахуєте студентів двічі.

В рамках цього завдання можете спробувати використати методи `assign` та `filter`, ну і вже знайомі вам `agg` та `query`.

Нарешті, давайте збережемо дані. Візьміть датасет студентів і скористайтесь методом `to_csv`, щоб зберегти його у файл `other_students.csv`. Відкрийте файл і зверніть увагу на те, чи все "окей".

Імовірно, у вас буде "зайва" колонка. Щоб зрозуміти, що це конкретно за колонка, спробуйте також зберегти результат команди `students.groupby(['Faculty', 'Age'])[['Age', 'GPA']].mean()` у інший файл.

На цьому етапі у вас має закрастися підозра, що ж це за колонка. Так-так, це була колонка-індекс. Щоб зберегти без неї, передайте у `to_csv` аргумент `index=False`

### Кінець спільної частини
-----------------
### Початок самостійної (домашньої) частини


##### Завдання №1

Для кожного інструктора розрахуйте:
- Кількість курсів, які він/вона викладають
- Загальну кількість кредитів відповідних курсів
- Загальну кількість студентів у курсах, які веде викладач
- Кількість унікальних студентів (тобто скільки різних облич бачить викладач на своїх парах)
- Статистику по оцінках - як часто (у %) викладач ставить A, B, C, ..., F

Відсортуйте результат за кількістю унікальних студентів.

Завдання №2

Для кожного студента порахуйте:
- Сумарну кількість кредитів 
- Кількість днів навчання (до сьогоднішньої дати) [1]
- Середню успішність
- Середню успішність, якщо рахувати, що A - 100, B - 90, C - 75, D - 60, F - 0  
- Кількість непрофільних предметів (тобто предметів, які студент взяв з факультету, відмінного від свого)



[1] Зверніть увагу, що ми з вами не працювали раніше з датами. Пропонується спробувати розібратися самостійно - там нічого складного! Вам знадобиться [to_datetime](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html), [Series.dt](https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.html#pandas-series-dt), а також стандартний пайтонівський модуль datetime (`from datetime import date` -> `date.today()`).